<div class="container-fluid">
  <h1 class="text-center coca-cola-text">Customers</h1>
  <br>
  <div class="text-right">
    <button (click)="toggleButton()" type="button" class="btn coca-cola-background text-white">Create Customer</button>
    <div *ngIf="createButton" class="form-group">
      <input [(ngModel)]="input" type="text" class="form-control" id="formGroupExampleInput"
        placeholder="Enter customer name here">
      <button (click)="createCustomer()" type="button" class="btn coca-cola-background text-white">Create</button>
    </div>
  </div>
  <br>
  <div *ngIf="editButton" class="form-group">
    <input [(ngModel)]="editContent" type="text" class="form-control" id="formGroupExampleInput"
      placeholder="Enter new customer name here">
    <button (click)="editCustomer()" type="button" class="btn coca-cola-background text-white">Edit</button>
  </div>

  <app-customer-table *ngIf="customers" [customers]="customers" (status)="toggleButtonEdit($event)"
    (deleteEvent)="deleteCustomer($event)">
  </app-customer-table>
</div>
