<nav class="navbar navbar-expand-lg pb-0 pt-1 navbar-light coca-cola-background">
  <a class="p-0 h2 align-middle mb-0 mr-3 text-white coca-cola-font" *ngIf="!showLogin" routerLink="">Coca-Cola</a>
  <a class="p-0 h2 align-middle mb-0 mr-3 text-white coca-cola-font" *ngIf="showLogin">Coca-Cola</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation"
  (click)="toggleCollapsed()">
  <span class="oi oi-grid-three-up text-white"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">
      
      <div ngbDropdown class="d-inline-block" *ngIf="!showLogin">
        <button class="btn text-white" id="dropdownBasic1" ngbDropdownToggle>Manage</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="coca-cola-background">
          <button ngbDropdownItem (click)="redirectToCustomers()" class="text-white">Customers</button>
          <button ngbDropdownItem routerLink="outlets" class="text-white">Outlets</button>
          <button ngbDropdownItem routerLink="users"  class="text-white">Users</button>
        </div>
        <button class="btn text-white" id="dropdownBasic1" routerLink="/records">Records</button>
      </div>
      
    </ul>
    <button *ngIf="showLogin" (click)="redirectToLogin()" type="button" class="btn text-white">Login</button>
    <button *ngIf="!showLogin" (click)="logout()" type="button" class="btn text-white">Logout</button>
  </div>
</nav>
