<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Barcodes"></Label>
</ActionBar>

<FlexboxLayout class="page">

    <StackLayout class="form" *ngIf="!isInvalid && !isRedeemed && !isValid">
        <Image src="res://colabarcode" width="80%" class="input-field" *ngIf="!scanning"></Image>
        <Label class="page-placeholder" row="1" *ngIf="!!barcodes[0].value" text="Barcode found! Press Send!"></Label>
        <Label class="page-placeholder" row="1" *ngIf="!!barcodes[0].value" [text]="barcodes[0].value"></Label>
        <Label class="page-placeholder" row="1" *ngIf="scanning" text="Tap to close!"></Label>
        <MLKitBarcodeScanner row="3" *ngIf="scanning" width="285" height="380" beepOnScan="true" formats="EAN_13"
            preferFrontCamera="false" [pause]="pause" [torchOn]="torchOn" (scanResult)="onBarcodeScanResult($event)"
            (tap)="scanning = false">
        </MLKitBarcodeScanner>
        <Button [text]="'Scan'" *ngIf="!scanning && !this.barcodes[0].value" (tap)="openScanner()"
            class="btn btn-primary m-t-20"></Button>
        <Button [text]="'Try again'" *ngIf="!scanning && !!this.barcodes[0].value" (tap)="openScanner()"
            class="btn btn-primary m-t-20"></Button>

        <Label></Label>

        <Label class="page-placeholder" text="Or input manually:"></Label>

        <Label></Label>

        <StackLayout class="input-field">
            <TextField #code class="input" hint="Barcode" [returnKeyType]="'done'" keyboardType="phone"></TextField>
            <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Label class="page-placeholder" text="The barcode must contain 13 digits" color="#ff0000" *ngIf="notAValidCode"></Label>

        <Button [text]="'Send'" (tap)="sendCode(this.barcodes[0].value, code.text)"
            class="btn btn-primary m-t-20"></Button>
    </StackLayout>

    <StackLayout class="form">
        <FlexboxLayout class="page" *ngIf="isValid"
            style="width: 100%; height: 70%; border-width: 5%; border-color: #eb1c24; border-radius: 15;">
            <StackLayout class="form">
                <Label class="fas page-placeholder" style="font-size: 70em; color: #0fff0f" text="&#xf058;"></Label>
                <Label class="page-placeholder" color="#eb1c24" style="font-weight: bold; font-size: 30"
                    text="VALID"></Label>
                <Label class="page-placeholder" color="#eb1c24" style="font-weight: bold" text="CODE"></Label>
            </StackLayout>
            <Button class="btn btn-success" text="Redeem now" (tap)="updateCode('redeemed')"></Button>
            <Button class="btn btn-secondary" text="Cancel" (tap)="updateCode('canceled')"></Button>
            <Label></Label>
        </FlexboxLayout>
    </StackLayout>

    <StackLayout class="form">
        <FlexboxLayout class="page" *ngIf="isInvalid"
            style="width: 100%; height: 70%; border-width: 5%; border-color: #eb1c24; border-radius: 15">
            <StackLayout class="form">
                <Label class="fas page-placeholder" style="font-size: 70em; color: #eb1c24" text="&#xf071;"></Label>
                <Label class="page-placeholder" color="#eb1c24" style="font-weight: bold; font-size: 30"
                    text="INVALID"></Label>
                <Label class="page-placeholder" color="#eb1c24" style="font-weight: bold" text="CODE"></Label>
            </StackLayout>
            <Button class="btn btn-secondary" text="Cancel" (tap)="regularCancel()"></Button>
            <Label></Label>
        </FlexboxLayout>
    </StackLayout>

    <StackLayout class="form">
        <FlexboxLayout class="page" *ngIf="isRedeemed"
            style="width: 100%; height: 70%; border-width: 5%; border-color: #eb1c24; border-radius: 15;">
            <StackLayout class="form">
                <Label class="fas page-placeholder" style="font-size: 70em; color: #000000" text="&#xf714;"></Label>
                <Label class="page-placeholder" color="#eb1c24" style="font-weight: bold; font-size: 30"
                    text="ALREADY"></Label>
                <Label class="page-placeholder" color="#eb1c24" style="font-weight: bold; font-size: 30"
                    text="REDEEMED"></Label>
                <Label class="page-placeholder" [text]="redeemedIn" color="#000000"></Label>
                <Label class="page-placeholder" [text]="redeemedAt | date:'short'" color="#000000"></Label>

            </StackLayout>
            <Button class="btn btn-danger" text="Report" (tap)="reportCode()"></Button>
            <Button class="btn btn-secondary" text="Cancel" (tap)="regularCancel()"></Button>
            <Label></Label>
        </FlexboxLayout>
    </StackLayout>
</FlexboxLayout>