.page {
    align-items: center;
    flex-direction: column;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
}

.header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #eb1c24;
}

.input-field {
    margin-bottom: 25;
}

.input {
    font-size: 18;
    placeholder-color: #A8A8A8;
}

.btn-primary {
    height: 50;
    margin: 30 5 15 5;
    background-color: #eb1c24;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
}

.btn-secondary {
    height: 50;
    width: 90%;
    margin: 5 5 5 5;
    background-color: #eb1c24;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
    color: #ffffff
}

.btn-success {
    height: 50;
    width: 90%;
    margin: 5 5 5 5;
    background-color: #ffcf31;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
    color: #ffffff
}

.btn-danger {
    height: 50;
    width: 90%;
    margin: 5 5 5 5;
    background-color: #000000;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
    color: #ffffff
}

.login-label {
    horizontal-align: center;
    color: #A8A8A8;
    font-size: 16;
}

.sign-up-label {
    margin-bottom: 20;
}

.bold {
    color: #000000;
}

.far {
    font-family: Font Awesome 5 Free, fa-regular-400;
    font-weight: 400; 
}

.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}