<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 fill">
        <div class="row">
          <div class="col text-left">
            <h3 class="coca-cola-text">Edit user</h3>
          </div>
          <div class="col text-right">
            <button class="btn coca-cola-background text-white" (click)="cancelEditing()">Cancel</button>
          </div>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors.required">Outletname is required</div>
              <div *ngIf="f['name'].errors.minlength">Outletname must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" />
            <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
              <div *ngIf="f['address'].errors.required">First Name is required</div>
              <div *ngIf="f['address'].errors.minlength">First name must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn coca-cola-background text-white">Edit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<br>