<br>
<form class="fill">
  <div class="form-group form-inline font-weight-bold">
    Search: <input class="form-control ml-2 custom-search coca-cola-border" type="text" name="searchTerm"
      [(ngModel)]="service.searchTerm" />
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" class="pr-1 text-right" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="dateCreated" (sort)="onSort($event)">Date created</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="text-right">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers$ | async">
          <th scope="row" (click)="selectCustomer(customer.id)">{{ customer.id }}</th>
          <td class="text-right" (click)="selectCustomer(customer.id)">
            <ngb-highlight [result]="customer.name" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td (click)="selectCustomer(customer.id)"></td>
          <td class="text-right" (click)="selectCustomer(customer.id)">
            <ngb-highlight [result]="customer.dateCreated | date:'short'" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td (click)="selectCustomer(customer.id)"></td>
        <td>
          <div class="text-right">
            <a class="oi oi-pencil text-success" (click)="toggleButton(customer.id)"></a> &nbsp; 
            <a class="oi oi-circle-x text-danger" (click)="deleteCustomer(customer.id)"></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="customers.length">Show all</option>
    </select>
  </div>

</form>