<div class="container-fluid">
    <h1 class="text-center coca-cola-text">Outlets</h1>
    <br>
  <app-outlet-table *ngIf="outlets" [outlets]="outlets" [customers]="customers" (deleteEvent)="deleteOutlet($event)"
    (outletCreatedEvent)="createOutlet($event)" (outletEditedEvent)="editOutlet($event)"></app-outlet-table>
</div>