<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 fill">
        <div class="row">
          <div class="col text-left">
            <h3 class="coca-cola-text">Edit user</h3>
          </div>
          <div class="col text-right">
            <button class="btn coca-cola-background text-white" (click)="cancelEditing()">Cancel</button>
          </div>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>Username</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
              <div *ngIf="f['username'].errors.required">Username is required</div>
              <div *ngIf="f['username'].errors.minlength">Username must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
              <div *ngIf="f['firstName'].errors.required">First Name is required</div>
              <div *ngIf="f['firstName'].errors.minlength">First name must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
              <div *ngIf="f['lastName'].errors.required">Last Name is required</div>
              <div *ngIf="f['lastName'].errors.minlength">Last name must be at least 2 characters</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" autocomplete=""
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors.required">Password is required</div>
              <div *ngIf="f['password'].errors.minlength">Password must be at least 6 characters</div>
              <div *ngIf="f['password'].errors.hasNumber">Password must contain a number</div>
              <div *ngIf="f['password'].errors.hasCapitalCase">Password must contain a capital letter</div>
              <div *ngIf="f['password'].errors.hasSmallCase">Password must contain a small letter</div>
              <div *ngIf="f['password'].errors.hasSpecialCharacters">Password must contain a special character</div>
            </div>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" autocomplete=""
              [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
              <div *ngIf="f['confirmPassword'].errors.required">Confirm Password is required</div>
              <div *ngIf="f['confirmPassword'].errors.mustMatch">Passwords must match</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn coca-cola-background text-white">Edit</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<br>