<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Records"></Label>
</ActionBar>

<StackLayout>
<Label></Label>
    <RadListView [items]="standings">
        <ng-template let-item="item" let-i="index">
            <GridLayout columns="*, *, *" class="p-5" [backgroundColor]="i == 0 ? '#eb1c24' : 'white'">
                <Label col="0" [text]="item.code"></Label>
                <Label col="1" [text]="item.status"></Label>
                <Label col="2" [text]="item.date"></Label>
            </GridLayout>
        </ng-template>
    </RadListView>
</StackLayout>