<br>
<app-outlet-create [customers]="customers.customers" (outletCreatedEvent)="outletCreated($event)" *ngIf="create && !edit">
  </app-outlet-create>
  <app-outlet-edit [outletData]="outletToEdit" (outletEditedEvent)="editOutlet($event)" (cancelEdit)="cancelEdit()" *ngIf="edit">
  </app-outlet-edit>
  <div class="text-right">
    <button class="btn coca-cola-background text-white" *ngIf="!create && !edit" (click)="toggleCreate()">Create outlet</button>
    <button class="btn coca-cola-background text-white" *ngIf="create && !edit" (click)="toggleCreate()">Close create</button>
  </div>
<form class="fill">
  <div class="form-group form-inline font-weight-bold">
    Search: <input class="form-control ml-2 custom-search coca-cola-border" type="text" name="searchTerm"
      [(ngModel)]="service.searchTerm" />
    <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" class="pr-1 text-right" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="address" (sort)="onSort($event)">Address</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="customer" sub="name" (sort)="onSort($event)">Customer</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="pr-1 text-right" sortable="dateCreated" (sort)="onSort($event)">Date created</th>
        <th scope="col" class="pl-0"><span class="oi oi-sort-ascending"></span></th>
        <th scope="col" class="text-right">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let outlet of outlets$ | async">
        <th scope="row" (click)="selectOutlet(outlet.id)">{{ outlet.id }}</th>
        <td class="text-right" (click)="selectOutlet(outlet.id)">
          <ngb-highlight [result]="outlet.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td class="text-right" (click)="selectOutlet(outlet.id)">
          <ngb-highlight [result]="outlet.address" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td class="text-right" (click)="selectOutlet(outlet.id)">
          <ngb-highlight [result]="outlet.customer.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td class="text-right" (click)="selectOutlet(outlet.id)">
          <ngb-highlight [result]="outlet.dateCreated | date:'short'" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td></td>
        <td>
          <div class="text-right"><span class="oi oi-pencil text-success" (click)="toggleEdit(outlet)"></span> &nbsp; <span
              class="oi oi-circle-x text-danger" (click)="deleteOutlet(outlet.id)"></span></div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="20">20 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="outlets.length">Show all</option>
    </select>
  </div>

</form>