/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Coca-Cola;
    src: url("assets/fonts/coca.ttf") format("truetype");
}

body {
    background-image: url("assets/images/coca-cola-background-image5.png");
    background-size: cover;
}

/* .color {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.coca-cola-background {
    background-color: #eb1c24;
}

.coca-cola-text {
    color: #eb1c24;
}

.coca-cola-border {
    border-color: #eb1c24;
}

.coca-cola-font {
    font-family: Coca-Cola;
}

ngb-pagination .page-item.active .page-link {
    background-color: #eb1c24;
    color: white;
    border-color: #eb1c24;
}

ngb-pagination .page-item.disabled .page-link {
    background-color: #ffffff;
    color: #eb1c24;
    border-color: #eb1c24;
}

.custom-select {
    border-color: #eb1c24;
    color: #eb1c24;
}

.custom-select:focus {
    border-color: #eb1c24;
    box-shadow: 0 0 0 0.2rem #eb1c24;
    color: #eb1c24;
}

.custom-search:focus {
    border-color: #eb1c24;
    box-shadow: 0 0 0 0.2rem #eb1c24;
    color: #eb1c24;
}

table,
tbody,
tr,
th,
td {
    border-bottom: 1px solid #eb1c24;
    border-top: 1px solid #eb1c24;
}

thead {
    background-color: #eb1c24;
    border-bottom: 1px solid #eb1c24;
    border-top: 1px solid #eb1c24;
    color: #ffffff;
}