
<div class="login-form" >
    <form #loginForm="ngForm">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input #userInput type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input #passwordInput type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-outline-dark btn-block" (click)='this.login(userInput.value,passwordInput.value)' >Log in</button>
            <label style="color:red;">{{wrongCredentials}}</label>
        </div>      
    </form>

</div>