.far {
    font-family: Font Awesome 5 Free, fa-regular-400;
    font-weight: 400; 
    margin-right: 10;
}

.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
    margin-right: 10;
}